In [1]:
import pandas as pd
import matplotlib
import numpy as np
import seaborn as sns

In [ ]:
import matplotlib.pyplot as plt

In [2]:
#Task 1. Nucleotide distribution

nucl = pd.read_csv('/Users/Sasha/Downloads/train.csv')

In [3]:
nucl.head()

,pos,reads_all,matches,mismatches,deletions,insertions,A,C,T,G,A_fraction,T_fraction,G_fraction,C_fraction
0,279,8045,32,7972,46,8,7911.0,54.0,11.0,NaN,0.983503,0.000815,NaN,0.006896
1,280,8045,7995,48,19,9,NaN,16.0,13.0,19.0,NaN,0.001355,0.002392,0.001914
2,281,8045,7983,50,16,5,NaN,24.0,4.0,24.0,NaN,0.000639,0.002875,0.002310
3,282,8049,7510,505,33,65,105.0,11.0,395.0,NaN,0.012750,0.049096,NaN,0.000919
4,283,8042,7786,155,115,62,46.0,NaN,93.0,31.0,0.004960,0.010992,0.003186,NaN

In [119]:
count_nuc = pd.DataFrame()
count_nuc['A'] = nucl['A']

In [126]:
count_nuc['C'] = nucl['C']
count_nuc['G'] = nucl['G']
count_nuc['T'] = nucl['T']
count_nuc['pos'] = nucl['pos']
count_nuc = count_nuc.set_index('pos')
count_nuc.head()

          A     C     G      T
pos
279  7911.0  54.0   NaN   11.0
280     NaN  16.0  19.0   13.0
281     NaN  24.0  24.0    4.0
282   105.0  11.0   NaN  395.0
283    46.0   NaN  31.0   93.0

In [6]:
count_nuc.plot.bar(rot=0)

NameError: name 'plt' is not defined

In [19]:
#Task 2. Extract specific columns
part_nuc = pd.DataFrame()
part_nuc = nucl.loc[nucl['matches'] > np.mean(nucl['matches'])]
part_nuc = part_nuc.drop(['A','T','G','C'], axis=1)
part_nuc = part_nuc.drop(['A_fraction','T_fraction','G_fraction', 'C_fraction'],axis=1)
part_nuc.head()

   pos  reads_all  matches  mismatches  deletions  insertions
1  280       8045     7995          48         19           9
2  281       8045     7983          50         16           5
3  282       8049     7510         505         33          65
4  283       8042     7786         155        115          62
5  284       8048     7094         104        864         241

In [20]:
# Task 3, EDA
nucl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pos         63 non-null     int64
 1   reads_all   63 non-null     int64
 2   matches     63 non-null     int64
 3   mismatches  63 non-null     int64
 4   deletions   63 non-null     int64
 5   insertions  63 non-null     int64
 6   A           45 non-null     float64
 7   C           48 non-null     float64
 8   T           49 non-null     float64
 9   G           47 non-null     float64
 10  A_fraction  45 non-null     float64
 11  T_fraction  49 non-null     float64
 12  G_fraction  47 non-null     float64
 13  C_fraction  48 non-null     float64
dtypes: float64(8), int64(6)
memory usage: 7.0 KB

In [21]:
nucl.describe()

,pos,reads_all,matches,mismatches,deletions,insertions,A,C,T,G,A_fraction,T_fraction,G_fraction,C_fraction
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,45.000000,48.000000,49.000000,47.000000,45.000000,49.000000,47.000000,48.000000
mean,310.000000,8050.936508,4710.285714,1796.158730,1553.698413,109.666667,594.044444,380.666667,492.163265,949.212766,0.073241,0.060566,0.117431,0.046797
std,18.330303,6.045187,2211.987374,1518.102245,1107.108288,149.519014,1295.866838,333.817719,582.504769,929.810942,0.161150,0.072425,0.115425,0.041395
min,279.000000,8039.000000,32.000000,48.000000,2.000000,3.000000,14.000000,11.000000,4.000000,17.000000,0.001060,0.000639,0.002243,0.000919
25%,294.500000,8046.000000,3025.500000,656.500000,512.000000,21.500000,105.000000,154.250000,118.000000,314.000000,0.012750,0.013547,0.038555,0.018568
50%,310.000000,8051.000000,4665.000000,1619.000000,1556.000000,53.000000,241.000000,278.500000,361.000000,663.000000,0.030059,0.044339,0.082288,0.033901
75%,325.500000,8054.500000,6737.500000,2453.500000,2300.000000,123.000000,480.000000,533.000000,634.000000,1185.000000,0.059539,0.078508,0.146423,0.065621
max,341.000000,8062.000000,8002.000000,7972.000000,4215.000000,696.000000,7911.000000,1423.000000,3054.000000,4226.000000,0.983503,0.378969,0.524417,0.176147

In [22]:
fig, axs = plt.subplots(ncols=3, nrows=5, figsize=(20, 10))
index = 0
axs = axs.flatten()
for i,j in nucl.items():
    sns.boxplot(y=i, data=nucl, ax=axs[index])
    index += 1
plt.tight_layout(pad=0.4, w_pad=0.5, h_pad=5.0)
plt.show()

NameError: name 'plt' is not defined

In [23]:
nucl.isnull().sum().sort_values(ascending = False)

A_fraction    18
A             18
G_fraction    16
G             16
C_fraction    15
C             15
T_fraction    14
T             14
insertions     0
deletions      0
mismatches     0
matches        0
reads_all      0
pos            0
dtype: int64

In [25]:
nucl.isna().sum().sort_values(ascending = False)

A_fraction    18
A             18
G_fraction    16
G             16
C_fraction    15
C             15
T_fraction    14
T             14
insertions     0
deletions      0
mismatches     0
matches        0
reads_all      0
pos            0
dtype: int64

In [26]:
nucl.corr()

,pos,reads_all,matches,mismatches,deletions,insertions,A,C,T,G,A_fraction,T_fraction,G_fraction,C_fraction
pos,1.000000,0.867511,0.313912,-0.275308,-0.245276,0.083401,-0.210161,0.184132,-0.172507,-0.319078,-0.210598,-0.174640,-0.319882,0.183674
reads_all,0.867511,1.000000,0.324307,-0.293385,-0.241827,0.130187,-0.144768,0.042765,-0.101148,-0.390610,-0.145137,-0.102624,-0.391164,0.040941
matches,0.313912,0.324307,1.000000,-0.888921,-0.777581,-0.225610,-0.581108,-0.371192,-0.478788,-0.738893,-0.581128,-0.478866,-0.739024,-0.369283
mismatches,-0.275308,-0.293385,-0.888921,1.000000,0.403204,0.111158,0.856523,0.324956,0.318009,0.781218,0.856547,0.318103,0.781095,0.324238
deletions,-0.245276,-0.241827,-0.777581,0.403204,1.000000,0.299234,-0.069381,0.287885,0.528187,0.482378,-0.069377,0.528206,0.482804,0.285142
insertions,0.083401,0.130187,-0.225610,0.111158,0.299234,1.000000,-0.010117,0.286595,0.001270,0.094896,-0.010385,0.001462,0.095061,0.285734
A,-0.210161,-0.144768,-0.581108,0.856523,-0.069381,-0.010117,1.000000,-0.129633,-0.121939,0.265298,0.999998,-0.121539,0.264570,-0.126436
C,0.184132,0.042765,-0.371192,0.324956,0.287885,0.286595,-0.129633,1.000000,0.174355,0.158787,-0.129703,0.174420,0.158192,0.999958
T,-0.172507,-0.101148,-0.478788,0.318009,0.528187,0.001270,-0.121939,0.174355,1.000000,0.096304,-0.121835,0.999984,0.097013,0.171335
G,-0.319078,-0.390610,-0.738893,0.781218,0.482378,0.094896,0.265298,0.158787,0.096304,1.000000,0.265681,0.096495,0.999995,0.156450
A_fraction,-0.210598,-0.145137,-0.581128,0.856547,-0.069377,-0.010385,0.999998,-0.129703,-0.121835,0.265681,1.000000,-0.121436,0.264947,-0.126499
T_fraction,-0.174640,-0.102624,-0.478866,0.318103,0.528206,0.001462,-0.121539,0.174420,0.999984,0.096495,-0.121436,1.000000,0.097204,0.171400
G_fraction,-0.319882,-0.391164,-0.739024,0.781095,0.482804,0.095061,0.264570,0.158192,0.097013,0.999995,0.264947,0.097204,1.000000,0.155852
C_fraction,0.183674,0.040941,-0.369283,0.324238,0.285142,0.285734,-0.126436,0.999958,0.171335,0.156450,-0.126499,0.171400,0.155852,1.000000

In [27]:
h_labels = [x.replace('_', ' ').title() for x in 
            list(nucl)]
fig, ax = plt.subplots(figsize=(10,6))
_ = sns.heatmap(nucl.corr(), annot=True, xticklabels=h_labels, yticklabels=h_labels, cmap=sns.cubehelix_palette(as_cmap=True), ax=ax)

NameError: name 'plt' is not defined

In [37]:
# Additional task
# Make functions
def read_gff(path):
    gff = pd.read_csv(path, sep='\t', comment='#', skiprows=1)
    gff.columns = ['chromosome', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes']
    return(gff)

In [106]:
gff = read_gff('/Users/Sasha/Downloads/rrna_annotation.gff')
gff.head()

,chromosome,source,type,start,end,score,strand,phase,attributes
0,Reference_10,barrnap:0.9,rRNA,68981,72061,0.0,+,.,Name=23S_rRNA;product=23S ribosomal RNA
1,Reference_10,barrnap:0.9,rRNA,469298,470826,0.0,+,.,Name=16S_rRNA;product=16S ribosomal RNA
2,Reference_10,barrnap:0.9,rRNA,471166,474246,0.0,+,.,Name=23S_rRNA;product=23S ribosomal RNA
3,Reference_10,barrnap:0.9,rRNA,3629599,3632680,0.0,-,.,Name=23S_rRNA;product=23S ribosomal RNA
4,Reference_10,barrnap:0.9,rRNA,3633020,3634549,0.0,-,.,Name=16S_rRNA;product=16S ribosomal RNA

In [43]:
def read_bed6(path):
    bed = pd.read_csv(path, sep='\t', comment='#', skiprows=1)
    bed.columns = ['chromosome', 'start', 'end', 'name', 'score', 'strand']
    return bed

In [107]:
bed = read_bed6('/Users/Sasha/Downloads/alignment.bed')
bed.head()

,chromosome,start,end,name,score,strand
0,Reference_1,202941,203377,NODE_5666_length_436_cov_418.653543,16,+
1,Reference_1,203322,785222,NODE_25_length_581906_cov_146.024228,60,+
2,Reference_1,785169,1763981,NODE_11_length_978812_cov_132.517515,60,-
3,Reference_1,1763926,1764363,NODE_5666_length_436_cov_418.653543,0,-
4,Reference_1,1764308,1764418,NODE_19543_length_110_cov_1549.290909,0,+

In [58]:
# Extract simple names of rRNA
import re
rna_info = read_gff('/Users/Sasha/Downloads/rrna_annotation.gff')
rna_info_convenient = rna_info
rna_info_convenient['attributes']=rna_info['attributes'].str.extract('(Name.*rRNA)')
rna_info_convenient['attributes'] = rna_info_convenient['attributes'].str.replace('Name=', '')
rna_info_convenient['attributes'] = rna_info_convenient['attributes'].str.replace('_rRNA', '')
rna_info_convenient.head()

,chromosome,source,type,start,end,score,strand,phase,attributes
0,Reference_10,barrnap:0.9,rRNA,68981,72061,0.0,+,.,23S
1,Reference_10,barrnap:0.9,rRNA,469298,470826,0.0,+,.,16S
2,Reference_10,barrnap:0.9,rRNA,471166,474246,0.0,+,.,23S
3,Reference_10,barrnap:0.9,rRNA,3629599,3632680,0.0,-,.,23S
4,Reference_10,barrnap:0.9,rRNA,3633020,3634549,0.0,-,.,16S

In [102]:
# Count distinct rRNA types per chromosome
rna_dist = rna_info_convenient.filter(items=['chromosome','attributes'])
rna_dist['count'] = 1
rna_dist.head()
rna_dist.groupby(['chromosome','attributes']).sum()

                         count
chromosome   attributes
Reference_1  16S             2
             23S             2
             5S              2
Reference_10 16S             4
             23S             5
...                        ...
Reference_8  16S             2
             23S             2
Reference_9  16S             6
             23S             6
             5S              6

[76 rows x 1 columns]

In [117]:
# Intersect
merged = gff.append(bed)
merged = merged.sort_values(by='start')
merged.head()
annot_ind_list = merged.index[merged['type'] != 'NaN'].tolist()
annot_read_start = [x+1 for x in annot_ind_list]
annot_read_end = [x-1 for x in annot_ind_list]
save = annot_read_start + annot_read_end + annot_ind_list
merged1 = merged.iloc[save]
merged1.sort_values(by='start').head()

,chromosome,source,type,start,end,score,strand,phase,attributes,name
6020,Reference_20,NaN,NaN,0,91528,60.0,+,NaN,NaN,NODE_149_length_138283_cov_350.133699
2942,Reference_8,NaN,NaN,0,364810,60.0,+,NaN,NaN,NODE_36_length_466911_cov_271.254873
6779,Reference_23,NaN,NaN,0,160865,60.0,-,NaN,NaN,NODE_80_length_244836_cov_368.038496
914,Reference_3,NaN,NaN,0,128866,60.0,-,NaN,NaN,NODE_158_length_133586_cov_762.631164
2942,Reference_8,NaN,NaN,0,364810,60.0,+,NaN,NaN,NODE_36_length_466911_cov_271.254873